body {

    background-color: #ffffff;
    color: #000000;
      }
   
   
   h1 {
    background-color: #000000;
    color: #ffffff;

   }
   
   p {
    color: #00a2e2; 
    background-color: #ffffff;
  }
   
   .footer { 
    color: #00a2e2; 
    background-color: #ffffff;
   
   }
   